body {
    text-align: center;
}
h1 {
    color: red;
}

h2 {
    color: rebeccapurple;
}

h3 {
    text-align:left;
    color: rgb(155, 155, 17);
}

h4 {

    color: rgb(155, 155, 17);
}

p {
    text-align:left;
}